*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.banner{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('Netflix-Clone/assets/netflixbackground.jpg');
    background-size: cover;
    background-position: center;

}
.navbar{
    margin: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-image: none;
    background-color: transparent;
    
}

.logo{
    height: 40px;
    margin: 10px;
}
.limg{
    height: 40px;
    filter: brightness(200%) contrast(1.9);
}
img .limage{

    height: 12px;
    width: 12px;
    margin-right: 8px;

}
.btn .Lang{
    background-color: transparent;
    height: 40px;
    color:white;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;    
    font-weight: bold;
}
.btn .sign-in-btn{
    padding: 8px 16px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}



.nav-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
}
